In [4]:
import pandas as pd
df = pd.read_csv('c:\\datas\\weathers.csv')
df

,CST,Temperature,DewPoint,Humidity,Sea Level Pressure,VisibilityMile,WindSpeedMPH,Precipitation,CloudCover,Events,WindDirDegree
0,01-01-2021,38,23,52,30.30,10,8.0,0.0,5,NaN,281
1,01-02-2021,36,18,46,30.02,10,7.0,0.0,3,NaN,257
2,02-02-2021,40,21,47,29.86,10,8.0,0.0,1,NaN,277
3,03-02-2021,25,9,44,30.05,10,9.0,0.0,3,NaN,345
4,04-02-2021,20,-3,41,30.57,10,5.0,0.0,0,NaN,333
5,05-02-2021,33,4,35,30.50,10,4.0,0.0,0,NaN,259
6,06-02-2021,39,11,33,30.28,10,2.0,0.0,3,NaN,293
7,07-02-2021,39,29,64,30.20,9,4.0,0.0,8,NaN,79
8,08-02-2021,44,38,77,30.16,4,8.0,NaN,8,Rain,76
9,09-02-2021,50,46,71,29.59,10,NaN,NaN,7,Rain,109
10,10-02-2021,33,8,37,29.92,10,NaN,1.8,1,NaN,289
11,11-02-2021,35,15,53,29.85,10,6.0,0.0,4,NaN,235
12,12-02-2021,26,4,42,29.94,10,10.0,NaN,0,NaN,284
13,13-02-2021,30,12,47,29.95,9,5.0,0.0,7,NaN,266
14,14-02-2021,43,31,62,29.82,8,5.0,NaN,2,NaN,101
15,15-02-2021,47,37,70,29.52,8,7.0,NaN,7,NaN,340

In [5]:
df['Temperature'].max()

50

In [6]:
df['CST'][df['Events']=='Rain']

8    08-02-2021
9    09-02-2021
Name: CST, dtype: object

In [7]:
df['WindSpeedMPH'].mean()

6.285714285714286

In [8]:
df.fillna(0,inplace=True)

In [9]:
df['WindSpeedMPH'].mean()

5.5