In [2]:
import pandas as pd
df=pd.read_csv('c:\\datas\\weather_data.csv')
df

          day  temperature  windsped  event
0  01-01-2021           32         6   Rain
1  02-01-2021           35         7  Sunny
2  03-01-2021           28         2   Snow
3  04-01-2021           24         7   Snow
4  05-01-2021           32         4   Rain
5  06-01-2021           32         2  Sunny

In [3]:
weather_data = {
         'day':['1/1/2021','02/01/2021','03/01/2021','04/01/2021','05/01/2021','06/01/2021'],
         'temperature' : [32,35,28,24,32,32],
         'windsped' : [6,7,2,7,4,2],
         'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
    
}
df =pd.DataFrame(weather_data)
df

          day  temperature  windsped  event
0    1/1/2021           32         6   Rain
1  02/01/2021           35         7  Sunny
2  03/01/2021           28         2   Snow
3  04/01/2021           24         7   Snow
4  05/01/2021           32         4   Rain
5  06/01/2021           32         2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
rows, columns = df.shape

In [6]:
rows

6

In [7]:
columns

4

In [8]:
df.head()

          day  temperature  windsped  event
0    1/1/2021           32         6   Rain
1  02/01/2021           35         7  Sunny
2  03/01/2021           28         2   Snow
3  04/01/2021           24         7   Snow
4  05/01/2021           32         4   Rain

In [9]:
df.head(2)

          day  temperature  windsped  event
0    1/1/2021           32         6   Rain
1  02/01/2021           35         7  Sunny

In [10]:
df.tail()

          day  temperature  windsped  event
1  02/01/2021           35         7  Sunny
2  03/01/2021           28         2   Snow
3  04/01/2021           24         7   Snow
4  05/01/2021           32         4   Rain
5  06/01/2021           32         2  Sunny

In [11]:
df.tail(1)

          day  temperature  windsped  event
5  06/01/2021           32         2  Sunny

In [12]:
df[2:5]

          day  temperature  windsped event
2  03/01/2021           28         2  Snow
3  04/01/2021           24         7  Snow
4  05/01/2021           32         4  Rain

In [13]:
df[:]

          day  temperature  windsped  event
0    1/1/2021           32         6   Rain
1  02/01/2021           35         7  Sunny
2  03/01/2021           28         2   Snow
3  04/01/2021           24         7   Snow
4  05/01/2021           32         4   Rain
5  06/01/2021           32         2  Sunny

In [14]:
df.columns

Index(['day', 'temperature', 'windsped', 'event'], dtype='object')

In [16]:
df.day

0      1/1/2021
1    02/01/2021
2    03/01/2021
3    04/01/2021
4    05/01/2021
5    06/01/2021
Name: day, dtype: object

In [18]:
df['day']

0      1/1/2021
1    02/01/2021
2    03/01/2021
3    04/01/2021
4    05/01/2021
5    06/01/2021
Name: day, dtype: object

In [19]:
type(df['event'])

pandas.core.series.Series

In [20]:
df[['event','day']]

   event         day
0   Rain    1/1/2021
1  Sunny  02/01/2021
2   Snow  03/01/2021
3   Snow  04/01/2021
4   Rain  05/01/2021
5  Sunny  06/01/2021

In [21]:
df['temperature'].max()

35

In [22]:
df['temperature'].min()

24

In [25]:
df.describe()

       temperature  windsped
count     6.000000  6.000000
mean     30.500000  4.666667
std       3.885872  2.338090
min      24.000000  2.000000
25%      29.000000  2.500000
50%      32.000000  5.000000
75%      32.000000  6.750000
max      35.000000  7.000000

In [26]:
df[df.temperature>=32]

          day  temperature  windsped  event
0    1/1/2021           32         6   Rain
1  02/01/2021           35         7  Sunny
4  05/01/2021           32         4   Rain
5  06/01/2021           32         2  Sunny

In [27]:
df[df.temperature==df.temperature.max()]

          day  temperature  windsped  event
1  02/01/2021           35         7  Sunny

In [28]:
df[df.temperature==df['temperature'].max()]

          day  temperature  windsped  event
1  02/01/2021           35         7  Sunny

In [29]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

          day  temperature
1  02/01/2021           35

In [30]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [32]:
df.set_index('day')

            temperature  windsped  event
day
1/1/2021             32         6   Rain
02/01/2021           35         7  Sunny
03/01/2021           28         2   Snow
04/01/2021           24         7   Snow
05/01/2021           32         4   Rain
06/01/2021           32         2  Sunny

In [33]:
df.set_index('day', inplace=True)

In [34]:
df

            temperature  windsped  event
day
1/1/2021             32         6   Rain
02/01/2021           35         7  Sunny
03/01/2021           28         2   Snow
04/01/2021           24         7   Snow
05/01/2021           32         4   Rain
06/01/2021           32         2  Sunny

In [37]:
df.loc['03/01/2021']

temperature      28
windsped          2
event          Snow
Name: 03/01/2021, dtype: object

In [43]:
df.reset_index(inplace=True)
df

   event         day  temperature  windsped
0   Rain    1/1/2021           32         6
1  Sunny  02/01/2021           35         7
2   Snow  03/01/2021           28         2
3   Snow  04/01/2021           24         7
4   Rain  05/01/2021           32         4
5  Sunny  06/01/2021           32         2

In [40]:
df.set_index('event', inplace=True)

In [41]:
df

              day  temperature  windsped
event
Rain     1/1/2021           32         6
Sunny  02/01/2021           35         7
Snow   03/01/2021           28         2
Snow   04/01/2021           24         7
Rain   05/01/2021           32         4
Sunny  06/01/2021           32         2

In [42]:
df.loc['Snow']

              day  temperature  windsped
event
Snow   03/01/2021           28         2
Snow   04/01/2021           24         7